# Data Handling and progress bars
numpy
pandas
matplotlib
seaborn
scikit-learn
matplotlib
tqdm

# Add build dependencies to avoid errors
setuptools
wheel

# Core Libraries
torch
torchvision

# Medical Imaging Libraries
monai==1.4.0
nibabel
SimpleITK

# Experiment Tracking and pipeline versioning
wandb
dvc

# User interface
streamlit

# Miscellaneous and utils
jupyter
notebook
python-box
pyYAML
ensure
python-dotenv
einops

# code formatting
black
isort
black[jupyter]

-e .
